/.idea/
/01_PostgreSQL/.idea/workspace.xml
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783/storage_v2/_src_/database/first_blood.qzfm1Q.meta
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783/storage_v2/_src_/database/gamebar.4VJX9A.meta
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783/storage_v2/_src_/database/first_blood.qzfm1Q/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783/storage_v2/_src_/database/gamebar.4VJX9A/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/5155079a-0f29-48ee-88a3-f6d4dad18783/storage_v2/_src_/database/minions_db.QAU07A/schema/information_schema.FNRwLQ.meta
